<div class="map-info-window">
  <% if car.photo.attached? %>
    <%= cl_image_tag car.photo.key, height: 100, width: 150, crop: :fill %>
  <% end %>
  <h5 class="mt-2"><%= car.brand %> <%= car.model %></h5>
  <p>
    <strong><%= car.price_per_day %>€</strong> / jour<br>
    <%= car.address %>
  </p>
  <%= link_to "Voir détails", car_path(car), class: "btn btn-sm btn-primary" %>
</div>
